html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992D4;
    color: #FFFFFF;
}

.sidebar-container {
    height: 75%;
    display: grid;
    grid-template-rows: 3fr repeat(11, 2fr);
    grid-template-columns: 1fr 4fr;
}

.sidebar-container > * {
    margin-left: 10px;
}

.dashboard-logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.dashboard-logo > svg {
    height: 100%;
    width: 100%;
}

.dashboard-text {
    font-weight: bolder;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 170%;
}

.home-logo {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.profile-logo {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-text {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.messages-logo {
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-text {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.history-logo {
    grid-area: 6 / 1 / 7 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-text {
    grid-area: 6 / 2 / 7 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.tasks-logo {
    grid-area: 7 / 1 / 8 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-text {
    grid-area: 7 / 2 / 8 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.communities-logo {
    grid-area: 8 / 1 / 9 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communities-text {
    grid-area: 8 / 2 / 9 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.settings-logo {
    grid-area: 10 / 1 / 11 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-text {
    grid-area: 10 / 2 / 11 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.support-logo {
    grid-area: 11 / 1 / 12 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-text {
    grid-area: 11 / 2 / 12 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.privacy-logo {
    grid-area: 12 / 1 / 13 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-text {
    grid-area: 12 / 2 / 13 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
}