html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Google Sans';
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992D4;
    color: #FFFFFF;
}

.sidebar-container {
    height: 75%;
    display: grid;
    grid-template-rows: 3fr repeat(11, 2fr);
    grid-template-columns: 1fr 4fr;
}

.sidebar-container > * {
    margin-left: 10px;
}

.dashboard-logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.dashboard-logo > svg {
    height: 100%;
    width: 100%;
}

.dashboard-text {
    font-weight: bolder;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 170%;
}

.home-logo {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.profile-logo {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-text {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.messages-logo {
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-text {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.history-logo {
    grid-area: 6 / 1 / 7 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-text {
    grid-area: 6 / 2 / 7 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.tasks-logo {
    grid-area: 7 / 1 / 8 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-text {
    grid-area: 7 / 2 / 8 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.communities-logo {
    grid-area: 8 / 1 / 9 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communities-text {
    grid-area: 8 / 2 / 9 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.settings-logo {
    grid-area: 10 / 1 / 11 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-text {
    grid-area: 10 / 2 / 11 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.support-logo {
    grid-area: 11 / 1 / 12 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-text {
    grid-area: 11 / 2 / 12 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.privacy-logo {
    grid-area: 12 / 1 / 13 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-text {
    grid-area: 12 / 2 / 13 / 3;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 1fr 1fr 1fr;
}

.search {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

.search-bar {
    background-color: #E2E8F0;
    border-color: #E2E8F0;
    border-style: solid;
    height: 30px;
    flex: 2;
    border-radius: 50px;
    outline: none;
    padding-left: 15px;
}

.search-bar:focus {
    border-color: lightgray;
}

.notifications {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account {
    grid-area: 1 / 3 / 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.account-logo > img {
    height: 40px;
    width: 40px;
}

.account-name {
    font-size: 20px;
    font-weight: bold;
}

.greetings {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    gap: 20px;
}

.greetings > .account-logo > img {
    height: 70px;
    width: 70px;
}

.greetings-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.greetings-text > p {
    margin: 0;
}

.greetings-text > p:first-child {
    font-weight: 500;
    font-size: small;
}

.greetings-text > p:nth-child(2) {
    font-weight: bold;
    font-size: x-large;
}

.new {
    grid-area: 2 / 2 / 3 / 3;
}

.upload {
    grid-area: 2 / 3 / 3 / 4;
}

.share {
    grid-area: 2 / 4 / 3 / 5;
}

.new, .upload, .share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

button {
    background-color: #1992D4;
    border: none;
    flex: 1;
    height: 70%;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 1000;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
}